
.about-container {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    margin: 58px;
    background-color: #f7f4ff;
border-radius: 10px;
border: 1px solid #885df1;
}
.container {
    text-align: center;
}
.contact-container {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}
h1 {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
}